{{>partials/header}}

<main>
    <section class="secaoDasComidas">
        {{^list}}
        <div class="secaoDasComidasVazia">
            <h2>Página não localizada</h2>
        </div>
        {{/list}}
    </section>
</main>

{{>partials/footer}}