{{>partials/header}}

<main>
    {{#banner}}
    <h2 class="tituloBanner">{{title}}</h2>
    <div class="banner" style="background-image: url('/imagens/{{background}}');"></div>
    {{/banner}}

    <section class="cabecalhoDasecaoComidas">
        {{#svg}}
        <h2>Confira Todas Nossas Opções</h2>
        <img src="/imagens/{{background}}" alt="">
        {{/svg}}
    </section>

    <section class="secaoDasComidas">
        {{#lista}}
        <div class="itemSecaoComidas">
            <img src="/imagens/comidas/{{imagem}}" alt="">
            <h3>{{nome}}</h3>
            <span>R$ {{preco}}</span>
            <button>vizualizar</button>
        </div>
        {{/lista}}

        {{^lista}}
        <div class="secaoDasComidasVazia">
            <h2>Nenhum item encontrado</h2>
        </div>
        {{/lista}}
    </section>
</main>

{{>partials/footer}}