<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lanchonete Online</title>

    <!-- trocar o caminho dos estilos depois! -->
    <link rel="stylesheet" href="/estilos/reset.css">
    <link rel="stylesheet" href="/estilos/style.css">

    <!-- <link rel="stylesheet" href="public/estilos/reset.css">
    <link rel="stylesheet" href="public/estilos/style.css"> -->
</head>

<body>
    <header>
        <div class="containerCabecalho">
            <div class="areaPesquisa">
                <a href="/" class="tituloLoja">

                </a>
                <form action="/search" method="get">
                    <input type="search" name="res" id="pesquisarComida" placeholder="Busque por algo..." value="{{query}}">
                </form>
            </div>
            <nav class="categorias">
                <ul class="categoriasLanches">
                    <li>
                        <a href="/pizza">pizza</a>
                    </li>
                    <li>
                        <a href="/sucos">sucos</a>
                    </li>
                    <li>
                        <a href="/refrigerantes">refrigerantes</a>
                    </li>
                    <li>
                        <a href="/fast_foods">lanches</a>
                    </li>
                    <li>
                        <a href="/pratos">pratos artesanais</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>